@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/img/logo.svg" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold text-body-emphasis">Identity Service</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Sample identity service for my blog</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="https://apps-on-azure.net" target="_blank" class="btn btn-primary btn-lg px-4 gap-3">Blog</a>
            <a href="https://github.com/adrianhall/samples" class="btn btn-outline-secondary btn-lg px-4">
                <i class="bi bi-github"></i> GitHub
            </a>
        </div>
    </div>
</div>

