@using Samples.Identity.Data
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Extensions

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    bool isSignedIn = SignInManager.IsSignedIn(User);
    ApplicationUser? userRecord = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
    @if (isSignedIn)
    {
        <a class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0" asp-controller="Account" asp-action="Logout">
            <span class="d-flex align-items-center">
                <i class="bi-person-circle me-2"></i>
                <span class="small">@userRecord?.DisplayName</span>
            </span>
        </a>
    }
    else
    {
        <a class="btn btn-primary px-3 mb-2 mx-2 mb-lg-0" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.GetEncodedUrl()">
            <span class="d-flex align-items-center">
                <i class="bi-box-arrow-in-right me-2"></i>
                <span class="small">Sign in</span>
            </span>
        </a>
        <a class="btn btn-warning px-3 mb-2 mb-lg-0" asp-controller="Account" asp-action="Register">
            <span class="d-flex align-items-center">
                <i class="bi-person-add me-2"></i>
                <span class="small">Register</span>
            </span>
        </a>
    }
</ul>
