@model EmailConfirmationViewModel
@{
    ViewBag.Title = "Await email confirmation link";
    Layout = "_AccountLayout";
}

<div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Await email confirmation link</h1>
</div>
<div class="text-center">
    <p>We've sent an email with a account confirmation link to @Model.Email  When you get it, click on the link to complete registration.</p>
</div>
