@model EmailConfirmationViewModel
@{
    ViewBag.Title = "Await email confirmation";
    Layout = "_AccountLayout";
    string returnUrl = Url.Content("~/");
}

<div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Await email confirmation</h1>
</div>
<div class="text-center">
    <p>We've sent an email with a confirmation link to @Model.Email  When you get it, click on the link to continue registration.</p>
</div>
