@model EmailConfirmationViewModel
@{
    ViewBag.Title = "Await password reset link";
    Layout = "_AccountLayout";
    string returnUrl = Url.Content("~/");
}

<div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Await password reset link</h1>
</div>
<div class="text-center">
    <p>We've sent an email with a password reset link to @Model.Email  When you get it, click on the link to continue the password reset.</p>
</div>
