@using Samples.Identity.Models.Account
@model EmailConfirmationViewModel
@{
    ViewBag.Title = "Email confirmed";
    Layout = "_AccountLayout";
    string returnUrl = Url.Content("~/");
}

<div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Email confirmed!</h1>
</div>
<div class="text-center">
    <p>Thank you for confirming your email.</p>
</div>
<div class="text-center">
    <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@returnUrl">Sign in</a>
</div>
