@using Samples.Identity.Models.Account
@model EmailConfirmationViewModel
@{
    ViewBag.BodyClass = "layout--account";
    ViewBag.Title = "Email confirmed!";
    Layout = "_AccountLayout";
    string returnUrl = Url.Content("~/");
}

@section StyleSheets {
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/registrations/registration-6/assets/css/registration-6.css" />
}

<div class="row">
    <div class="col-12">
        <div class="mb-5">
            <h2 class="h3">Email Confirmed</h2>
            <p>That you for confirming your email.</p>
            <p>
                <a asp-controller="Acocunt" asp-action="Login" class="link-primary text-decoration-none">Sign in</a>
            </p>
        </div>
    </div>
</div>
