@model EmailConfirmationViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "_AccountLayout";
}

<div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Forgot password?</h1>
    <p>Enter your email address to send a password reset code:</p>
</div>
<form method="post">
    <input asp-for="ReturnUrl" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" placeholder="Enter email addreess...">
        <label asp-for="Email">Email address</label>
    </div>
    <div class="invalid-feedback">
        <span asp-validation-for="Email"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Send code</button>
</form>
