<div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Locked out</h1>
</div>
<div class="text-center">
    <p>Your account has been locked out due to too many invalid login attempts.</p>
</div>
