@using Microsoft.AspNetCore.Authentication
@model LoginViewModel
@{
    ViewBag.Title = "Sign in";
    Layout = "_AccountLayout";
}

<div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Welcome Back!</h1>
</div>
<form method="post">
    <input asp-for="ReturnUrl" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" placeholder="Enter email addreess...">
        <label asp-for="Email">Email address</label>
    </div>
    <div class="invalid-feedback">
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="Password" class="form-control" placeholder="Password">
        <label asp-for="Password">Password</label>
    </div>
    <div action="invalid-feedback">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="RememberMe" class="form-check-input">
        <label asp-for="RememberMe" class="form-check-label">
            @Html.DisplayNameFor(m => m.RememberMe)
        </label>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Sign in</button>
</form>
@if (Model.ExternalProviders.Any())
{
    <hr />
    <div class="container text-center">
        <h5 class="h5 text-gray-800 mb-1">Sign in with a social provider</h5>
    @foreach (AuthenticationScheme provider in Model.ExternalProviders.OrderBy(x => x.Name))
    {
        <a asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" asp-route-provider="@provider.Name" class="text-primary mx-2" style="font-size: 1.4rem; text-decoration: none;">
            <i class="bi auth-@provider.Name"></i>
        </a>
    }
    </div>
}
<hr />
<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-center">
            <a class="small" asp-controller="Account" asp-action="ForgotPassword">Forgot password?</a>
        </div>
        <div class="col-6 text-center">
            <a class="small" asp-controller="Account" asp-action="Register">Create an account!</a>
        </div>
    </div>
</div>
