@model RegisterViewModel
@{
    ViewBag.Title = "Create account";
    Layout = "_AccountLayout";
}

<div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Create an account!</h1>
</div>
<form class="user" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" placeholder="Enter email addreess...">
        <label asp-for="Email">Email address</label>
    </div>
    <div class="invalid-feedback">
        <span asp-validation-for="Email"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="FirstName" class="form-control" placeholder="Enter your first name...">
        <label asp-for="FirstName">First Name</label>
    </div>
    <div class="invalid-feedback">
        <span asp-validation-for="FirstName"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="LastName" class="form-control" placeholder="Enter your last name...">
        <label asp-for="LastName">Last Name</label>
    </div>
    <div class="invalid-feedback">
        <span asp-validation-for="LastName"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="DisplayName" class="form-control" placeholder="Enter your display name...">
        <label asp-for="DisplayName">Display Name</label>
    </div>
    <div class="invalid-feedback">
        <span asp-validation-for="DisplayName"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Password" class="form-control" placeholder="Password">
        <label asp-for="Password">Password</label>
    </div>
    <div action="invalid-feedback">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password">
        <label asp-for="ConfirmPassword">Confirm password</label>
    </div>
    <div action="invalid-feedback">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-user btn-block">Register</button>
</form>
<hr />
<div class="text-secondary text-center">
    Already have an account?
    <a class="link-primary text-decoration-none" asp-controller="Account" asp-action="Login">Sign in!</a>
</div>