@using Samples.Identity.Models.Account
@model RegisterViewModel
@{
    ViewBag.BodyClass = "layout--account";
    ViewBag.Title = "Create account";
    Layout = "_AccountLayout";
}

@section StyleSheets {
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/registrations/registration-6/assets/css/registration-6.css"/>
}

<div class="row">
    <div class="col-12">
        <div class="mb-5">
            <h2 class="h3">Registration</h2>
            <h3 class="fs-6 fw-normal text-secondary m-0">Enter your details to register</h3>
        </div>
    </div>
</div>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row gy-3 overflow-hidden">
        <div class="col-12">
            <div class="form-floating mb-3">
                <input asp-for="DisplayName" class="form-control" placeholder="Display Name" required>
                <label asp-for="DisplayName" class="form-label">Display Name</label>
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="name@example.com" required>
                <label asp-for="Email" class="form-label">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                <input asp-for="Password" class="form-control" placeholder="Password" required>
                <label asp-for="Password" class="form-label">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating mb-3">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" required>
                <label asp-for="ConfirmPassword" class="form-label">Password</label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="d-grid">
                <button class="btn bsb-btn-2xl btn-primary" type="submit">Sign up</button>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-12">
        <hr class="mt-5 mb-4 border-secondary-subtle">
        <p class="m-0 text-secondary text-center">
            Already have an account?
            <a asp-controller="Acocunt" asp-action="Login" class="link-primary text-decoration-none">Sign in</a>
        </p>
    </div>
</div>
