@using Samples.Identity.Models.Account
@model RegisterViewModel
@{
    ViewBag.Title = "Create account";
    Layout = "_AccountLayout";
}

<div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Create an account!</h1>
</div>
<form class="user" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="DisplayName" class="form-control form-control-user" placeholder="Display Name" required>
            <label asp-for="DisplayName" class="form-label">Display Name</label>
            <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input asp-for="Email" class="form-control form-control-user" placeholder="name@example.com" required>
            <label asp-for="Email" class="form-label">Email</label>
            <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="Password" class="form-control form-control-user" placeholder="Password" required>
            <label asp-for="Password" class="form-label">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="ConfirmPassword" class="form-control form-control-user" placeholder="Confirm Password" required>
            <label asp-for="ConfirmPassword" class="form-label">Password</label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">Register</button>
</form>
<hr />
<div class="text-secondary text-center">
    Already have an account? 
    <a class="link-primary text-decoration-none" asp-controller="Account" asp-action="Login">Sign in!</a>
</div>
