@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "_AccountLayout";
}

<div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Reset your password</h1>
</div>
<form class="user" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Email" type="hidden" />
    <input asp-for="Token" type="hidden" />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input asp-for="Password" class="form-control" placeholder="Password">
        <label asp-for="Password">Password</label>
    </div>
    <div action="invalid-feedback">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm password">
        <label asp-for="ConfirmPassword">Confirm password</label>
    </div>
    <div action="invalid-feedback">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-user btn-block">Reset password</button>
</form>