@model EmailConfirmationViewModel
@{
    ViewBag.Title = "Resend email conformation";
    Layout = "_AccountLayout";
    string returnUrl = Url.Content("~/");
}

<div class="text-center">
    <h1 class="h4 text-gray-800 mb-4">Resend email confirmation?</h1>
</div>
<div class="text-center">
    <p>The link you clicked on is no longer valid.  You can request a new one below.</p>
</div>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Email" type="hidden" />
    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-user btn-block">Resend confirmation</button>
    </div>
</form>
